.appContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid red;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}